@charset "UTF-8";



* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    outline-style: none;


}



html {

    font-size: 10px;

}



a {
    color: #333333;
    text-decoration: none;
}



img {
    vertical-align: middle;
    border: 0;
}



ul,
ol,
li {

    list-style: none;

}

body {
    line-height: 1.4;
    font-family: 'Montserrat', 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    letter-spacing: -0.5px;
    word-break: break-all;
    -webkit-font-smoothing: antialiased;
}

.clearfix:after {

    content: '';

    position: relative;

    display: block;

    width: 100%;

    clear: both;

}

.hidden {
    overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: -1;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/*상단*/
.top {
    position: relative;
    display: block;
    background: #f3f3f3;
    border-bottom: 1px solid #ddd;
}

.top .container {
    height: 29px;
}

.fl {
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
}

.fl ul {
    position: relative;
    display: block;
}

.fl ul>li {
    float: left;
}


.fl ul>li>a {
    padding-left: 10px;
    font-size: 11px;
    line-height: 29px;
    color: #9b9b9b;
    font-family: "돋움", Dotum, 'Apple SD Gothic Neo', 'Malgun Gothic', 'Helvetica Neue', Helvetica, sans-serif;
}

.fl ul>li:first-child {
    padding-left: 0;
    margin-left: 0;
}

.fl ul>a:first-child {
    padding-left: 0;
    margin-left: 0;
}

.fr {
    position: relative;
    display: block;
    float: right;
}

.fr ul {
    position: relative;
    display: block;
}

.fr ul>li {
    float: left;
}

.fr ul>li>a {
    padding-left: 10px;
    font-size: 11px;
    line-height: 29px;
    color: #9b9b9b;
    font-family: "돋움", Dotum, 'Apple SD Gothic Neo', 'Malgun Gothic', 'Helvetica Neue', Helvetica, sans-serif;
}

.fr ul>li:first-child {
    padding-left: 0;
    margin-left: 0;
}

.top ul li+li:before {
    content: "";
    display: block;
    position: relative;
    top: 50%;
    left: 0;
    width: 1px;
    height: 10px;
    margin-top: 10px;
    float: left;
    background: #aaa;
}

.top ul li+li {
    padding-left: 10px;
}

.header {
    position: relative;
    display: block;
    border-bottom: 1px solid #ddd;
}

.header .container {
    font-size: 20px;
    font-weight: 700;
    height: 76px;
    display: block;
    padding-top: 17px;
    padding-bottom: 11px;
}

.logo {
    position: relative;
    display: block;
    width: 65px;
    height: 47px;
    float: left;
    background: url('../img/logo.png')no-repeat center;
}

.gnb-wrap {
    position: relative;
    display: block;
    float: left;
    height: 48px;
    margin-left: 30px;
}

.gnb-wrap ul {
    position: relative;
    width: 100%;
    height: 48px;
    float: left;
}

.gnb-wrap ul>li {
    float: left;
    height: 48px;
    line-height: 47px;
    padding-left: ;
    margin-left: 60px;
}

.gnb-wrap ul>li>a {
    position: relative;
    display: block;
    height: 24px;
}



.mymenu {
    position: relative;
    display: block;
    width: 150px;
    height: 48px;
    float: right;
}

.mymenu a img {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 9px;
    float: left;
}

/*메인*/
.main {
    position: relative;
    display: block;
    background: #f4f4f4;
}

/*메인 비주얼*/
.slide {
    position: relative;
    display: block;
    width: 1600px;
    height: 561px;
    margin: 0 auto;
}

.swiper-pagination {
    left: auto;
    right: 15%;
    bottom: 110px;
    width: 52px;
    height: 34px;
    line-height: 34px;
    padding: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .2);
    border-radius: 17px;
}


.swiper-button-next,
.swiper-button-prev {
    opacity: 0;
}


/*개인화 영역*/
.personal-wrapper {
    position: relative;
    display: block;
    height: 202px;
    margin-top: -90px;
    z-index: 10;
}


.personal-wrapper .container {
    position: relative;
    display: block;
    padding: 30px;
    font-size: 15px;
    font-weight: 400;
    height: 100%;

    background: #fff;
    box-shadow: 0 3px 15px rgb(77 77 77 / 5%);
}

.personal-info {
    position: relative;
    display: block;
    width: 1080px;
    height: 41px;
}

.pmenu-name {
    position: relative;
    display: block;

    float: left;
    margin-bottom: 15px;
    font-size: 26px;
    letter-spacing: -1.5px;
    font-weight: 400;
    line-height: 1;
}

.personal-menu {
    position: relative;
    display: block;
    float: left;
    width: 460px;
    height: 99px;
}

.sw-personal {
    display: block;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide ul {
    margin-top: 23px;
}

.swiper-slide li {
    float: left;
    text-align: center;
    letter-spacing: -1px;
    padding: 0px 10px;
}

.swiper-slide a {}

.swiper-slide span {
    text-align: center;
    letter-spacing: -1px;
    padding: 10px 0;
}

.ico-personal-01 {
    width: 46px;
    height: 46px;
    background-position: -10px -80px !important;
    margin: 0 auto;
}

.ico-personal-02 {
    width: 46px;
    height: 46px;
    background-position: -64px -80px !important;
    margin: 0 auto;
}

.ico-personal-03 {
    width: 46px;
    height: 46px;
    background-position: -118px -80px !important;
    margin: 0 auto;
}

.ico-personal-04 {
    width: 46px;
    height: 46px;
    background-position: -172px -80px !important;
    margin: 0 auto;
}

.ico-personal-05 {
    width: 46px;
    height: 46px;
    background-position: -563px -80px !important;
    margin: 0 auto;
}

.ico-personal-06 {
    width: 46px;
    height: 46px;
    background-position: -619px -80px !important;
    margin: 0 auto;
}

.swiper-pagination {
    position: absolute;
    top: -14px;
    right: 0;
    display: block;
    width: 438px;
    height: 6px;
    margin: 0;
    text-align: right;
    background: white;
}




.personal-prd {
    position: relative;
    display: block;
    height: 98px;

    float: left;
    width: 620px;
    padding-left: 15px;
    border-left: 1px dashed #e5e5e5;
}

.message {
    position: relative;
    display: block;

    float: left;
    padding: 0 0 10px 25px;
    font-size: 32px;
    line-height: 1.375;
    letter-spacing: -1.5px
}

.btn {
    position: absolute;
    right: 15px;
    bottom: 20px;
    display: block;
    float: right;
    width: 148px;
    height: 48px;
    padding: 0px 20px;
    text-align: center;
    line-height: 48px;
    background: #47ad1a;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}



/*추천제품*/
.recommend {
    position: relative;
    display: block;
}

.recommend .container {
    position: relative;
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
}

.recommend h2 {
    margin-bottom: 30px;
    font-size: 32px;
    color: #333;
    font-weight: 400;
    text-align: center;
    letter-spacing: -2.5px;
}

.recommend h3 {
    position: relative;
    display: inline-block;
    font-size: 22px;
    color: #555;
    margin-top: 50px;
    margin-left: 500px;
    line-height: 30.8px;
}

.recommend-list {
    position: relative;
    display: block;
}

.product {
    position: relative;
    display: flex;
    flex-direction: row;
}

.product li {
    position: relative;
    display: block;
    width: 270px;
    min-height: 410px;
    max-height: 410px;
    margin: 20px 0 0 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background: #fff;
}

.product li a {
    position: relative;
    display: block;
}

.badges {
    position: relative;
    display: block;
}

.badge {
    position: relative;
    display: block;
}

.badge-new {
    position: relative;
    display: block;

    width: 36px;
    height: 36px;
    line-height: 36px;
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    color: #fff;
    background-color: orange;
    box-sizing: border-box;
    border-radius: 100%;
    z-index: 6;
}

.thumb img {
    width: 100%;
    height: 100%;
}

.price-info {
    position: relative;
    display: block;
    margin: 0 auto;
}

.prd-title {
    overflow: hidden;
    max-height: 47px;
    margin: 17px 30px 8px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.35;
    word-break: keep-all;
    letter-spacing: -0.5px;
}

.prd-price {
    position: relative;
    display: block;
    max-height: 47px;
    margin: auto;
    text-align: center;
}

.price {
    font-size: 17px;
}

.volume {
    font-size: 15px;
    color: #999;
}

/*컨텐츠*/
.contents {
    position: relative;
    display: block;
    background: white;
    padding: 110px 0;
    height: 1060px;
}

.contents .container {
    position: relative;
    display: block;
}

.best-list {
    position: relative;
    display: block;
    float: left;
    width: 250px;
    height: 336px;
}

.best-list h2 {
    margin-bottom: 30px;
    font-size: 32px;
    color: #333;
    font-weight: 400;
    letter-spacing: -2.5px;
}

.best-list ul {
    position: relative;
    display: block;
    width: 250px;
    height: 280px;
}

.best-list ul li {
    position: relative;
    display: block;
    width: 250px;
    height: 56px;
}

.best-list ul li a {
    position: relative;
    display: block;
    display: inline-block;
    font-size: 17px;
    color: #b5b5b5;
}

.best-boxs {
    position: relative;
    display: block;
    float: right;
    width: 850px;
    height: 840px;
    font-size: 15px;
    font-weight: 300;
}

.best-top {
    position: relative;
    display: block;
}

.best-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
}

.best-box {
    position: relative;
    float: left;
    width: 270px;
    min-height: 410px;
    max-height: 410px;
    border: 1px solid #ccc;
    background: #fff;
}

.title {
    width: 208px;
    height: 24px;
    display: block;
    max-height: 47px;
    margin: 17px 30px 8px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.35;
    letter-spacing: -0.5px;
}

.price-info .now-price {
    font-size: 17px;
}

.ranking-num em {
    font-size: 26px;
    color: #333;
    line-height: 20px;
}

.price-info .volume {
    font-size: 15px;
    color: #999;
}

.prd .ranking-num {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 20px;
    font-size: 16px;
    color: #999;
    text-align: left;
    z-index: 6;
}

.price-info {
    display: block;
    margin: 0 30px;
    text-align: center;
}

.best-01 {
    width: 560px;
    margin: 0;
    padding-left: 40px;
}

.best-01 .thumb>img {
    width: 270px;
    height: 270px;
    position: absolute;
    top: 57px;
    right: 41px;
}

.best-01 .ranking-num em {
    font-size: 60px;
    color: #429e31;
    font-weight: 500;
    line-height: 64px;
}

.best-01 .title {
    position: relative;
    max-height: 138px;
    margin: 120px 0 6px;
    text-align: left;
    font-size: 34px;
    letter-spacing: -0.12em;
    word-spacing: -2px;
    word-break: normal;
    z-index: 2;
}

.best-01 .price-info .now-price {
    font-size: 21px;
}

.best-02 {
    margin-left: 20px;
}

.best-03 {}

.best-04 {
    margin-left: 20px;
}

.best-05 {
    margin-left: 20px;
}

.big {
    width: 66px;
    height: 66px !important;
    border: 1px solid #429e31;
    box-sizing: border-box;
}

/*보라색배너*/
.banner {
    position: relative;
    display: block;
    width: 1600px;
    height: 320px;
    margin: 0 auto;
}

.banner a img {
    position: relative;
    display: block;
    width: 1600px;
    height: 320px;
    margin: 0 auto;
}





/*고객님 무엇이 궁금하세요?*/
.csinfo {
    position: relative;
    display: block;
    background: #f4f4f4;
    padding: 100px 0;
}

.csinfo .container {
    margin: 0 auto;
}

.csinfo h2 {
    margin-bottom: 30px;
    font-size: 32px;
    color: #333;
    font-weight: 500;
    text-align: center;
    letter-spacing: -2.5px;
}

.csinfo ul {
    position: relative;
    display: flex;
    flex-direction: row;
}

.csinfo ul li {
    position: relative;
    display: block;
    float: left;
    width: calc((100% - 60px) / 4);
    padding: 30px 20px 30px 97px;
    background: #fff;
    border: 1px solid #eee;
    margin-left: 20px;
}

.csinfo ul li:first-child {
    margin-left: 0;
}

.csinfo ul li a {
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.75px;
}

.ico {
    position: relative;
    display: block;
    overflow: hidden;
    background: url('../img/icons.png') no-repeat -10px -10px;
}

.csinfo ul li a .ico {
    position: absolute;
    top: 6px;
    left: -79px;
}


.category {
    font-size: 16px;
    display: block;
    color: #429e31;
}

.ico-cs-m-01 {
    width: 59px;
    height: 54px;
    background-position: -10px -136px !important;
}

.ico-cs-m-02 {
    width: 59px;
    height: 54px;
    background-position: -79px -136px !important;
}

.ico-cs-m-03 {
    width: 59px;
    height: 54px;
    background-position: -148px -136px !important;
}


.csinfo .btn-m-more {
    position: absolute;
    top: 117px;
    right: 223px;
    font-weight: 500;
    color: #777;
}


/*띠배너 슬라이드*/
.banner-wrapper {
    background: #f4f4f4;
}

/*공지사항, 고객센터, 배달가능지역검색*/
.latest-info-wrapper {
    position: relative;
    display: block;
    background: white;
}


.latest-info-wrapper .container {
    position: relative;
    display: block;
    width: 1140px;
    padding: 50px 0;
}

.latest-notice {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    padding-right: 60px;
}

.latest-notice h2 {
    position: relative;
    display: block;
    width: 510px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

.latest-notice ul {
    position: relative;
    display: block;
}

.latest-notice ul li {
    position: relative;
    display: block;
    margin-bottom: 2px;
}

.latest-notice ul li a {
    position: relative;
    display: block;
    /*float: left;*/
    width: calc(100% - 75px);
    font-size: 14px;
    font-weight: 400;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.date {
    display: block;
    position: absolute;
    top: 2px;
    right: 0;
    width: 75px;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    text-align: right;
}

.btn-m-more {
    display: block;
    position: absolute;
    top: 5px;
    right: 60px;
}

.lb {
    position: relative;
    display: block;
    float: left;
    margin-top: -2px;
    margin-right: 9px;
}

.ico {
    position: relative;
    display: block;
    overflow: hidden;
    background: url('../img/icons.png') no-repeat -10px -10px;
}

.ico-arr-right-sm-gray {
    position: relative;
    display: block;
    width: 7px;
    height: 10px;
    margin-top: 3px;
    margin-left: 5px;
    background-position: -269px -50px
}

.cs-number {
    position: relative;
    display: block;
    float: left;
    width: 25%;
}

.mtitle {
    position: relative;
    display: block;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1px;
    margin-bottom: 20px;

}

.number {
    margin-top: 40px;
    font-size: 27px;
    color: #000;
}

.time {
    font-size: 14px;
    color: #999;
}

.delivery-info {
    position: relative;
    display: block;
}

.delivery-info p {
    color: #777;
    line-height: 1.6;
}

.btn-ico-sm {
    position: relative;
    display: block;
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    line-height: 28px;
    text-align: center;
    font-size: 13px !important;
    color: #777;
    border: 1px solid #ccc;
}

.ico-arr-right-sm-bl .delivery-info {
    position: relative;
    display: block;
    float: left;
    width: 25%;
}

/*하단*/
.footer-wrapper {
    position: relative;
    display: block;
    background: #f8f8f8;
}

.fnb-wrap {
    position: relative;
    display: block;
    height: 48px;
    background: #f8f8f8;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e6e6e6;
}

.fnb-wrap .container {
    position: relative;
    display: block;
    height: 48px;
}

.fmenu-wrap {
    position: relative;
    background: #f8f8f8;
}

.fmenu-wrap li {
    float: left;
    padding-left: 12px;
}

.fmenu-wrap a {
    font-size: 14px;
    line-height: 48px;
    cursor: pointer;
}


.footer-wrapper .fnb-wrap .fmenu-wrap a {
    padding-left: 12px;
}

.footer-wrapper .fnb-wrap .fmenu-wrap li+li:before {
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    margin-top: 19px;
    float: left;
    background: #c6c6c6;
}

.fmenu-wrap li:first-child {
    padding-left: 0;
}

.footer-wrap {
    position: relative;
    display: block;

}

.footer-wrap .container {
    position: relative;
    display: block;
    height: 132px;
    padding: 33px 0 37px;
    background: #fff;
}



.f-logo {
    position: absolute;
    top: 31px;
    left: 0;
    width: 68px;
    height: 50px;
    display: block;
    background: url('../img/f-logo.png')no-repeat center;
}

.f-info {
    position: relative;
    display: block;
}


.address {
    position: relative;
    display: block;
    width: 1038px;
    height: 36px;
    margin-left: 102px;
}

.address-top {
    position: relative;
    display: block;
}

.address-bottom {
    position: relative;
    display: block;
}

dl {
    margin-bottom: 4px;
    font-size: 12px;
    color: #7e7e7e;
    letter-spacing: -0.75px;
}

dt,
dd {

    float: left;
    margin-right: 2px;
}

.f-site {
    display: block;
    position: absolute;
    right: 0;
    top: 2px;
    width: 165px;
    height: 32px;
    z-index: 10;
    background: #fff;
}

.f-site-list {
    position: relative;
    display: block;
}

.copyright {
    position: relative;
    display: block;
    margin: 11px 0 0 102px;
    font-size: 11px;
    color: #7e7e7e;
}


.btn-main-recommand {
    font-size: 22px;
    font-weight: 400;
    color: #555;
    cursor: pointer;
}

.btn-main-recommand:after {
    content: "";
    position: absolute;
    top: 0;
    right: -35px;
    width: 30px;
    height: 30px;
    background: url('../img/icons.png') no-repeat -674px -80px;
}